doctype html
html(lang='en')
 head
   title Bunny Evolution
   link(rel="stylesheet", href="./css/main.css")
   script(src="./js/main.js") 
 body
   h1 Evolution
   main 
    canvas#simulationCanvas(width='500' height='500')
